
body{
    font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Scheherazade New', serif;
font-family: 'Work Sans', sans-serif;

}
.primary-color{
    color: #FD6E0A;
}
.primary-btn{
    
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    padding: 15px 35px;
    color: #ffff;
    font-size: 20px;
    font-weight: 700;
}
/* nav start */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0PX 200PX;
    /* z-index: 1; */
}
.nav title{
    color: #181818;
    font-size: 85px;
    font-weight: 700;
}

nav >ul{
    display: flex;
    align-items: center;
}
nav li{
   list-style: none;
   margin-right: 50px;
}
nav a{
 color: #474747;
    text-decoration: none;
}
/* nav end */
/* header section start */
.header{
    background-color: #FFF8F3;
    background-image: url( '../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;

}
.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 30px 0px 150px;
    background-image: url('../images/developer.png');
    /* z-index: 10; */
    background-repeat: no-repeat;
    background-position: 30px -160px;
    /* background-size: 200px 40px; */
z-index: -1;
}
.banner-title h4{
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: -42px;
   

    background-repeat: no-repeat;
    background-position: top left;
}
.banner-title h1{
    color: #181818;
    font-size: 85px;
    max-width: 500px;

font-weight: 700;
margin-bottom: 20px;

}
.banner-title p{
    font-size: 18px;

font-weight: 400;
}
.banner-title img{
    z-index: 1;
    display: inline;
}
.banner-img img{
    width: 500px;
}