
body{
    font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Scheherazade New', serif;
font-family: 'Work Sans', sans-serif;

}
.primary-color{
    color: #FD6E0A;
}
.primary-btn{
    
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    padding: 15px 35px;
    color: #ffff;
    font-size: 20px;
    font-weight: 700;
}
/* nav start */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0PX 200PX;
    /* z-index: 1; */
}
.nav title{
    color: #181818;
    font-size: 85px;
    font-weight: 700;
}

nav >ul{
    display: flex;
    align-items: center;
}
nav li{
   list-style: none;
   margin-right: 50px;
}
nav a{
 color: #474747;
    text-decoration: none;
}
/* nav end */
/* header section start */
.header{
    background-color: #FFF8F3;
    background-image: url( '../images/header_bg.png'),url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left;
    /* background-size: 59px 700px;  */

}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 0px 150px;
    /* background-image: url('../images/developer.png');

    /* z-index: 10; */
    /* background-repeat: no-repeat;
    background-position: 30px -160px; */
    /* background-size: 200px 40px; */
   
/* z-index: -1; */
}
.banner-title h4{
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: -42px;
   

    background-repeat: no-repeat;
    background-position: top left;
}
.banner-title h1{
    color: #181818;
    font-size: 85px;
    max-width: 500px;

font-weight: 700;
margin-bottom: 20px;

}
.banner-title p{
    font-size: 18px;

font-weight: 400;
}
.banner-title img{
    z-index: 1;
    display: inline;
}
.banner-img img{
    width: 500px;
}
/* main section starts */
main{
    max-width: 1140 px;
}
/* about section starts */

.about{
    border-radius: 10px;
background: #FFF8F3;
margin: 89px 230px;
text-align: center;

}
.about-title h3{
    color: #181818;
    font-size: 35px;

font-weight: 700;
padding-top: 50px;
}
.about-title h6{
    color: #757575;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
text-align: center;
font-size: 18px;
padding: 0px 27px;
align-items: center;
font-weight: 400;
}
.about-section{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 0px 15px 65px 15px;
}
.experience{
    text-align: center;
}
 .section-title{
    color: #181818;
    font-size: 35px;

font-weight: 700;
text-align: center;
}
.experience p{
    color: #757575;
    font-size: 18px;
font-weight: 400;
}
.skills{
    display: flex;
    padding: 30px;
    gap: 24px;
  

}
.js{
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    text-align: center;
    padding: 30px 30px;
}
/* .skills p{
   
} */
.resume-colom-title{
    color: var(--dark-02, #474747);

font-size: 30px;
font-weight: 700;


}
.resume-title{
    text-align: center;
    color: #181818;
    font-size: 35px;

font-weight: 700;
    
}
.resume-section{
    display: flex;
    gap: 50px;
    margin-left: 69px;
    align-items: center;
}
.primary-title{
    color: #474747;
    font-size: 30px;

font-weight: 700;
}
.primary-sub{
    color: #474747;
    font-size: 20px;

font-weight: 700;
}
.primary-place{
    color: #757575;
    font-size: 20px;

font-weight: 600;
}
.pragraph{
    font-size: 16px;
font-weight: 400;
line-height: 28px;
color: #474747;
}
.cv-btn{
   margin-top: 63px;
   margin-left: 491px;
   margin-bottom: 50px;
}
footer{
    display: flex;
    background: #FFF8F3 ;
    padding: 130px 200px;
    margin-top: 10px;
   
}
.contact input[type="text"], .contact input[type="email"],textarea{
    display: block;
    margin-bottom: 25px;
    padding: 15px 30px;
    color: #757575;
    border-radius: 5px;
background:  #FFF;
border: 0;
width: 100%;
}
.footer-title{
    margin-right: 50px;
}
.footer-title p{
    color: #474747;
    font-size: 16px;
font-weight: 400;
line-height: 28px;
}
.submit{
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    padding: 15px 35px;
    color: #ffff;
    font-size: 20px;
    font-weight: 700;
}
.icon{
    color: #FD6E0A;
}
.icon a{
    margin-right: 25px;
}